APP_NAME=Gestor Taller Automotriz API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

DATABASE_URL=postgresql+psycopg2://postgres:martinez.2004@localhost:5432/GestorTalleres

KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=Arquitectura
KEYCLOAK_CLIENT_ID=02
KEYCLOAK_CLIENT_SECRET=CAMBIA_ESTE_VALOR
KEYCLOAK_AUDIENCE=
